.banner-container {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    padding-inline: 1rem; /* Add padding to the left and right */
    overflow: hidden;
    border-radius: 15px; /* Match this value with the image's border-radius */
    margin-bottom: 20px;   /* Add margin to the bottom */
    background: white;
    border: 1px solid #e0e0e0;
    background: #c71585;
    background-color: #2E8B57;
  /*
    background-image: linear-gradient(to right top, #ff9933, #ff8664, #ff7d94, #ff83c2, #e892e6, #ba9cfb, #7ca6ff, #00adfe, #00ace3, #00a5ac, #009964, #138808);
    background-size: cover;
    background-position: center;
    position: relative;
  */
  }
  
  .banner-img {
    width: 50%; /* Set image width to 60% of the container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the image is covered without distortion */
    border-radius: 15px; /* Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Add a subtle shadow */
  }
  